.tbl_main { width: 779px; }
.stbl { width: 779px; }
.nhd { width: 779px; }

.smo { padding-left: 15px; width: 779px; background-color: #a60105; } /* Outer menu table */
.smos { padding-left: 15px; width: 779px; background-color: #c20106; border-bottom: solid 1px #a60105; } /* Outer menu table */
.fmo { width: 779px; padding-left: 15px; }

.sb { left: 779px; }
.sba { left: 779px; }

.tbl_bk  { background-color: #f2f1f1; padding: 15px 15px 15px 15px; width: 779px; filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#f2f1f1', EndColorStr='#f1eace') }

/*
     FILE ARCHIVED ON 01:09:31 Oct 09, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:57:21 May 21, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.444
  captures_list: 0.455
  exclusion.robots: 0.045
  exclusion.robots.policy: 0.035
  esindex: 0.008
  cdx.remote: 7.65
  LoadShardBlock: 48.491 (3)
  PetaboxLoader3.resolve: 228.837 (2)
  PetaboxLoader3.datanode: 58.133 (4)
  load_resource: 270.017
*/