.ahem {display: none;}
/*
     FILE ARCHIVED ON 05:12:10 Feb 07, 2003 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:09:22 May 19, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 0.496
  captures_list: 0.621
  exclusion.robots: 0.057
  exclusion.robots.policy: 0.045
  esindex: 0.009
  cdx.remote: 12.019
  LoadShardBlock: 81.909 (3)
  PetaboxLoader3.datanode: 99.07 (4)
  load_resource: 265.785
  PetaboxLoader3.resolve: 30.666
*/