

.plus-window {
    /* MORE PLUS! */
    --header-color: #99e823;
    --introcolor: #ccf6b4;
    --body-font-color:  #c3f6a6;
    --body-background-color: #164218;
    --menu-item-color:  #021308;
    --scrollbar-3d-light-color: #5b834d;
	--scrollbar-arrow-color: black;
	--scrollbar-base-color: #5b834d;
	--scrollbar-dark-shadow-color: #313526;
	--scrollbar-face-color: #5b834d;
	--scrollbar-highlight-color: #5b834d;
	--scrollbar-track-color: #313526;
	--scrollbar-shadow-color: #5b834d;
    --local-button-color: white;
    --right-frame-width: 445px;
    --right-frame-height: 375px;
}

.plus-window .title-bar,
.plus-window .title-bar .title-bar-text {
    cursor: var(--cursor-move);
}

.plus-scrollbar {
    width: 23px;
    background: var(--scrollbar-face-color);
    border-left: 1px solid var(--scrollbar-dark-shadow-color);
}

.plus-scrollbar-track {
    .plus-scrollbar-track {
    background: var(--scrollbar-track-color);
}
}

.plus-scrollbar-thumb {
    background: var(--scrollbar-face-color);
    border-top: 2px solid var(--scrollbar-dark-shadow-color);
    border-bottom: 2px solid var(--scrollbar-dark-shadow-color);
}

.plus-scrollbar-button {
    height: 18px;
    background: var(--scrollbar-face-color);
    border: none;
    border-bottom: 1px solid var(--scrollbar-dark-shadow-color);
}

.more-info.is-disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: var(--cursor-default);
}

.plus-window {
    width: 795px;
    height: 563px;
    color: var(--local-button-color);
    font-size: 9pt;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased
}

.plus-window.plus--fullscreen {
    width: 100vw;
    height: calc(100vh - 30px);
}

.plus-window ::selection {
    background: #ffffff;
    color: #2d5ea8;
}

.plus-window ::-moz-selection {
    background: #ffffff;
    color: #2d5ea8;
}

.plus-window .main-page {
    position: relative;
    width: 100%;
    height: calc(100% - 28px);
    background-image: url(./img/main-bg.webp);
    background-size: 100% auto;
    background-position: left top;
    background-repeat: no-repeat;
    overflow: hidden;
    overflow-y: auto;
}

.plus-window .main-page--digital-media,
.plus-window .main-page--games,
.plus-window .main-page--screen-savers {
    background-image: url(./img/empty-bg.webp);
}

.main-page--themes.main-page--theme-aquarium {
    background-image: url(./img/aquarium.webp);
}

.main-page--themes.main-page--theme-davinci {
    background-image: url(./img/daVinci.webp);
}

.main-page--themes.main-page--theme-nature {
    background-image: url(./img/nature.webp);
}

.main-page--themes.main-page--theme-space {
    background-image: url(./img/space.webp);
}

.plus-window .main-page--more-plus {
    background-image: url(./img/more-plus.webp);
}

.plus-page {
    position: relative;
    height: 100%;
    padding: 0;
    display: block;
}

.plus-page aside {
    position: absolute;
    left: 48px;
    top: 85px;
    width: 210px;
    margin: 0;
}

.plus-page aside span {
    display: block;
    margin-left: 25px;
    margin-bottom: 3px;
    font-size: 12pt;
    line-height: 1;
    font-weight: 700;
    color: var(--header-color);
    -webkit-font-smoothing: antialiased
}

.plus-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plus-menu li {
    width: 186px;
    min-height: 17px;
    padding-left: 25px;
    padding-right: 0;
    font-size: 9pt;
    line-height: 17px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--menu-item-color);
}

.plus-menu li:hover {
    color: var(--header-color);
}

.plus-menu li:active,
.plus-menu li.is-active {
    background-image: url(./img/MENU_SELECTED.GIF);
    background-size: 186px 16px;
    background-repeat: no-repeat;
}

.plus-menu li.plus-separator {
    width: 190px;
    min-height: unset;
    margin-top: 2px;
    height: 7px;
    background-image: url(./img/MENU_LINE.GIF);
    background-size: contain;
    background-repeat: no-repeat;
}

.plus-menu li.plus-more {
    color: var(--local-button-color);
    font-weight: 700;
    font-size: 11pt;
    letter-spacing: 1.35px;
}

.plus-content {
    position: absolute;
    left: 290px;
    top: 45px;
    width: 445px;
    height: 210px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.tool-desc {
    color: var(--introcolor);
    margin-bottom: 2px;
}

.introduction {
    width: 215px;
}

.introduction h2 {
    margin: 0;
    font-size: 16pt;
    line-height: 1;
    letter-spacing: 0.9px;
    margin-bottom: 3px;
}

.introduction h3 {
    margin: 0 0 7px;
    font-size: 8.5pt;
    line-height: 1.15;
    -webkit-font-smoothing: antialiased
}


.product-info h3:hover {
    text-decoration: underline;
    text-decoration-color: var(--introcolor);
}

.introduction p {
    max-width: 27ch;
    margin: 0 0 12px;
    font-size: 9pt;
    line-height: 1.15;
    letter-spacing: 1px;
    font-weight: 100;
    font-family: Arial Narrow;
    -webkit-font-smoothing: antialiased
}


.plus-window .right-panel {
    width: 125px;
    font-size: 9pt;
    line-height: 1.15;
    letter-spacing: 0.8px;
    font-weight: 600;
    text-align: right;
}

.plus-window .right-panel p {
    margin: 0;
}

.plus-window .right-panel p:hover,
.plus-window .right-panel p:active {
    text-decoration: underline;
}

.plus-footer {
    position: absolute;
    right: 28px;
    bottom: 29px;
    padding: 0 5px 5px;
    width: 480px;
    font-size: 6.5pt;
    line-height: 1.15;
    text-align: right;
}

.plus-footer p {
    margin: 0;
}

.plus-footer a {
    color: inherit;
}

.plus-home-hotspot {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 150px;
    height: 85px;
    /* outline: 1px solid hotpink; */
    cursor: var(--cursor-pointer);
}

/* DIGITAL MEDIA */
.plus-window .main-page--digital-media .plus-content,
.plus-window .main-page--games .plus-content,
.plus-window .main-page--screen-savers .plus-content,
.plus-window .main-page--more-plus .plus-content  {
    display: flex;
    flex-direction: column;
}

.introduction.media,
.introduction.games,
.introduction.screen-savers,
.introduction.more-plus {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.introduction.media h2,
.introduction.games h2,
.introduction.themes h2,
.introduction.screen-savers h2,
.introduction.more-plus h2 {
    width: 100%;
    color: var(--header-color);
    margin-bottom: 5px;
}

.introduction .mint {
    color: var(--introcolor);
    max-width: unset;
}

ul.media-tools {
    list-style: none;
}

ul.media-tools li {
    display: flex;
    align-items: center;
    gap: var(--space-3);
}

ul.media-tools li img {
    width: 48px;
    height: auto;
}

.more-info {
    color : var(--header-color);
    font-weight: 700;
}

/* GAMES */

.plus-window .main-page--games .introduction.games .mint,
.plus-window .main-page--themes .introduction.themes .mint,
.plus-window .main-page--screen-savers .introduction.screen-savers .mint {
    font-size: 9pt;
    margin-top: 1px;
}

.one-plus-game {
    display: flex;
    align-items: flex-start;
    gap: var(--space-5);
    margin-bottom: 12px;
}

.game-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.green {
    color: var(--body-font-color);
    font-family: Arial Narrow;
    font-size: 8pt;
    font-weight: 200;
    -webkit-font-smoothing: antialiased
}

.one-plus-game .more-info {
    margin-top: 4px;
    text-align: center;
}


/* THEMES */
.plus-window .main-page--themes .introduction.themes .mint {
    margin-bottom: 5px;
}

.plus-window .main-page--themes .plus-content {
    height: 75%;
}

.theme-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.theme-list li {
    display: flex;
    align-items: center;
    gap: var(--space-3);
    font-weight: 700;
}

.theme-list li:hover,
.theme-list li:active,
.theme-list li.is-active {
    color: var(--header-color);
    text-decoration: underline;
}

.theme-list li img {
    width: 27px;
    height: auto;
}

.theme-info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    margin-top: auto;
    text-align: center;
}

.theme-info:hover,
.theme-info:active {
    text-decoration: underline;
}

/* SCREEN SAVERS */
.plus-window .main-page--screen-savers .screensaver-content {
    margin-top: 0;
    display: flex;
    align-items:stretch;
    gap: var(--space-5);
    width: 100%;
}

.screensaver-list {
    gap: 9px;
}


.screensaver-list li {
    gap: var(--space-5);
    font-weight: 600;
    line-height: 1.15;
    font-size: 8pt;
    letter-spacing: 0.8px;
}

.screensaver-list li img {
    width: 33px;
    height: auto;
}

.screensaver-previews {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

.screensaver-info {
    text-align: center;
    font-size: 8pt;
    line-height: 1.4;
}

.screensaver-previews p:hover,
.screensaver-previews span:hover  {
    text-decoration: underline;
}

/* MORE PLUS */

.plus-window .main-page--more-plus li:hover,
.plus-window .main-page--more-plus li:active,
.plus-window .main-page--more-plus li.is-active {
    color: var(--header-color);
    background-image: none;
}

.introduction.more-plus p {
    max-width: unset;
    font-size: 9pt;
    font-family: Arial Narrow;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.introduction.more-plus a {
    color: var(--header-color);
    text-decoration: none;
    font-weight: 600;
    -webkit-font-smoothing: antialiased
}

.introduction.more-plus a:hover {
    text-decoration: underline;
}

.introduction.more-plus label  {
    display: inline-flex;
    align-items: center;
    gap: var(--space-3);
    color: var(--introcolor);
    font-size: 9pt;
    font-family: Arial Narrow;
    font-weight: 200;
    font-family: inherit;
    cursor: var(--cursor-default);
}
    