
.run-window {
    width: 380px;
}

.run-window .title-bar {
    height: 28px;
}

.run-body {
    background-color: var(--background);
    padding:  var(--space-8) var(--space-5) var(--space-6);
}

.run-body p,
.run-body label {
    font-size: var(--font-size-md);
    font-family: inherit;
}

.run-settings,
.settings-input {
    display: flex;
    gap: var(--space-9) var(--space-8);
}

.run-settings {
    margin-bottom: var(--space-3);
}

.run-input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-8);
}

.run-input-row label {
    width: 40px;
}

.run-input-row .xp-select-wrapper {
    flex: 1;
}

.open-input {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    padding: 1px var(--space-9) 1px var(--space-3);
    font-size: var(--font-size-sm);
    font-family: inherit;
    background-color: var(--xp-line-light);
    border: 1px solid var(--xp-line-dark);
    border-radius: 0;
    cursor: default;
    outline: none;
}

.settings-input::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.run-settings img {
    width: 40px;
    height: 35px;
    /* object-fit: contain; */
    margin-left: -2px;
    flex-shrink: 0;
    align-self: flex-start;
}

.run-buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--space-5);
    margin-block: 28px var(--space-1);
}